body{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-weight:700;
    color: #211; 
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,rgba(4, 0, 255, 0.308), blue);
    display: flex;
   
    align-items: center;
    justify-content: center;
    top:0;
}
.glass{
    background: white;
    min-height: 90vh;
    width: 86%;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 0.5rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    padding:-15rem;
}
@media screen and (max-width: 1000px) {
    .glass{
        display: flex;
        flex-direction: column;
    }
    .cards img{
        width: 40px;
    }
   
}






.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: absolute;
   
}
.circle1{
    top: 1%;
    right: 1%;
   
}
.circle2{
    bottom: 1%;
    left: 1%;
}
.fa{
    color:blue
}
.dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
     padding: 1rem;
}
.dashboard ul li{
    line-height: normal;
}
.rose{
    color: blue;
}
.mt-n1{
    margin-top: -5rem !important;
}
.surligne{
    text-decoration: underline;
}

.games{
    flex:2;
}
ul{
    display: flex;
    flex-direction: column;
    margin: -4rem 0rem;
    padding: 6rem 1rem;
    align-items: left;
    list-style: none;
}
ul i{
    padding: 0rem 1rem;
}
.status{
    margin-bottom: 3rem;
}
.status input{
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 98.5%;
    padding: 0.5rem;
    border-radius: 2rem;
}
h2{
    color:#ff0095;
    font-size: medium;
}
.card-body i p span {
    font-size: large;
    color: blue;
}
.games{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
}
.card{
    display: flex;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.8)
    );
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);   
}
.card ul li{
    list-style:lower-greek;
}
p{
    font-size: smaller;
}
.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    top:500px;
    padding:5rem;
}
